
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
<div class="account-container">
    <div class="account-box">
        <h2 class="text-center mb-4">Register</h2>
        <form method="post" asp-controller="Account" asp-action="Register">
            <div class="form-group">
                <label>Name</label>
                <input type="text" id="Username" name="Username" class="form-control" />
            </div>

            <div class="form-group">
                <label>Password</label>
                <input type="password" id="Password" name="Password" class="form-control" />
            </div>
            <div class="form-group">
                <label>ConfirmPassword</label>
                <input type="password" id="CPassword" name="CPassword" class="form-control" />
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="email" id="Email" name="Email" class="form-control" />

            </div>
            <div class="form-group">

                <button type="submit" class="btn btn-primary my-1">Submit</button>
                <a asp-controller="Account" asp-action="Login" class="btn btn-dark my-1">back</a>
            </div>
        </form>
    </div>
</div>
